<!DOCTYPE html>

<html>
  <head>
    <title>addme-buiding connections</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner{
         height: 300px;
         width: 100%;
         object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class="container" >
      <h1 class="text-center mt-4 mb-4">Addme-Careers</h1> 
      <img class="img-fluid" id="banner" src="https://addme-websites--pratyush-kumar8.repl.co/static/banner.jpg" >
      <h2 class="text-center mt-4 mb-4">About Addme</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nulla posuere sollicitudin aliquam ultrices sagittis. Ultricies mi eget mauris pharetra et. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Dolor sed viverra ipsum nunc aliquet bibendum enim. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Elit scelerisque mauris pellentesque pulvinar.
      </p>
      <h2 class="text-center mt-4 mb-4">Job openings</h2>
      <p>
        <div>
          {%include 'jobitem.html' %}
        </div>
      </p>
      <div class="text-center" >
      <button class="btn btn-primary btn-lg">contact-Us</button>
        <p class="mt-4">Copyright 2023,Addme-Building connections </p>
      </div>
    </div>
      
    
  </body>
</html>